/node_modules
/python_codes/encryption_test.py

ransomx_with_payload.csv
D:\CODES\Projects\Ransomware_Desktop\ransomx_with_payload.csv
/package-lock.json

/out
/websockets-test/node_modules
/websockets-test/package-lock.json